header{
    background-color: bisque;
    padding: 10px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 50px;
}
.nav-menu{
    display: flex;
    gap: 2em;
}
.nav-menu li{
    list-style: none;
    color: black;
}
.nav-menu li a{
    text-decoration: none;
    color: black;
}
button{
    background-color: black;
    border-radius: 10%;
    width: 70px;
    height: 30px;
}
button a{
    color: white;
    text-decoration: none;
}